.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
.sublime-project
.sublime-workspace

.env
src/conexao_local.php

*.log
error_log
*.tmp
*.temp

uploads/
img/uploads/

/vendor/
composer.lock

*.sql.bak
