.container1 {
    background-color: red !important;
    padding: 50px;
}

.form-login {
    background-color: blue !important;
    padding: 30px;
}

.form-label {
    color: white !important;
    font-size: 20px;
}

.form-select {
    padding: 10px;
}

.form-button {
    background-color: green !important;
    color: white;
    padding: 10px 20px;
}